/***********************************************************/

/*         Comun a todas las páginas                       */

/*                                                         */

/* Resetea los márgenes y el padding                       */

/***********************************************************/
@import "@fortawesome/fontawesome-free/css/all.css";
* {
  margin: 0;
  padding: 0;
}

/* Define las variables con los diferentes colores */

:root {
  --color_principal: #306291;
  --color_fondo_footer: #181a21;
  --color_cuerpo: #edeff1;
  --color_fondo_header_footer: rgb(2, 58, 80);
  --color_texto_menu_header: lightgray;
  --color_texto_menu_header_hover: white;
  --color_fondo_oscuro: rgba(69, 141, 209, 0.5);
  --color_fondo_claro: rgba(92, 172, 247, 0.2);
  --color_texto: #1f1f11;
  --color_contraste: #d9645d;
  --color_enlace_main: #14c9da;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

/*Extiende el modelo de caja alternativo para ser heredado por el resto de elementos*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  font-family: "Roboto", "Serif";
}

h2 {
  text-align: center;
  font-size: 1.7rem;
  font-family: "Roboto", "Serif";
}

h3 {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Roboto", "Serif";
}

h4 {
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto", "Serif";
}

article,
p,
label,
a,
li {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}

.cabecera {
  display: block;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("../img/books-1617327_1920.jpg");
  background-size: 98% auto;
  background-color: transparent;
  max-width: 100vw;
  height: 100px;
}

.cabecera a {
  text-decoration: none;
  color: white;
}

.footer {
  margin-top: 15px;
  display: block;
  align-items: center;
  text-align: center;
  color: white;
  background-color: var(--color_fondo_footer);
  max-width: 100vw;
  height: 100px;
}

.footer p {
  font-size: 12px;
}

.cuerpo {
  height: 100vh;
  color: #1f1f1f;
  /*background-color:val(--color_cuerpo);*/
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #edeff1;
  max-width: 95vw;
}

.img-sombra {
  margin: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-categoria {
  margin: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.categoria-th {
  margin: 10px;
}

.img-categoria-th {
  display: block;
  margin: auto;
}

.categoria a:hover {
  transform: scale(1);
}

.subrayado {
  border-top: 2px solid #1695a2;
  width: 20%;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  align-content: center;
}

/*
  CSS del fichero index.html
*/
.container-detalle {
  display: flex;
  justify-content: center;
  background-color: var(--color_cuerpo);
  max-width: 75vw;
  margin: 20px auto 20px auto;

}

.enlaces-libros-categoria {
  display: flex;
  justify-content: space-around;
  background-color: var(--color_cuerpo);
  max-width: 80vw;
  align-self: center;
  margin: 20px auto 20px auto;
}

.enlaces-libros {
  margin: 10px;
}

.enlaces-libros a:hover {
  transform: scale(1.04);
}

.img-th {
  margin: 5px;
}

.portada {
  margin: 10px;
}

.texto-libro {
  margin: 20px;
}

/*categorias*/

.lista-libros {
  display: block;
  background-color:var(--color_cuerpo);
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.libro {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.libro-portada-datos {
  margin-left: 10px;
  margin-right: 10px;
}
.titulo {
  color: red;
  margin-left: 5px;
}

.autor {
  font-size: 0.6rem;
  font-family: "Roboto", sans-serif;
  margin-left: 5px;
}

.article {
  margin-left: 15px;
  margin-right: 15px;
}

.titulo-enlaces-libros{
  text-align: center;
}
